# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
*.swp
*.swo
*.tmp
*.tmp.*
*~

# Exclude .DS_Store and Thumbs.db
*.DS_Store
*Thumbs.db

# Sphinx documentation
docs/_build/
